.MainPageMargin {
    margin-top:10px;
    margin-left:10px;
}





/*For MainShoppingPage*/
.auto-style1MP {
    width: 100%;
}

.auto-style2MP {
    width: 44px;
}

.auto-style3MP {
    width: 485px;
}

.auto-style5MP {
    width: 111px;
}

.auto-style6MP {
    width: 204px;
}

.auto-style7MP {
    width: 90px;
}